
@{
    ViewBag.Title = "Products";
}


<body>

<div class="row">
    <div class="col-md-4">
            <a target="_blank" href="">
                <img src="~/Content/images/Hotsale-Custom-Paper-Jigsaw-Puzzle-with-Cheaper-Price.jpg" alt="Custom paper jigaw" width="300" height="200">
            </a>
            <div class="desc">This is a jigaw puzzle</div>
        </div>

    <div class="col-md-4">
        <a target="_blank" href="">
            <img src="~/Content/images/jigsaw_puzzle_box.jpg" alt="Custom paper jigaw" width="300" height="200"
        </a>
        <div class="desc">This is a jigaw puzzle</div>
    </div>

    <div class="col-md-4">
        <a target="_blank" href="">
            <img src="~/Content/images/Life_in_the_Smokies_box.jpg" alt="Custom paper jigaw" width="300" height="200">
        </a>
        <div class="desc">This is a jigaw puzzle</div>
    </div>

</body>

