@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Puzzle product page</h1>
    <p class="lead">This is a product page for puzzles</p>
</div>

<div class="row">
    <div class="col-sm-3">
        <h2>Puzzle products</h2>
        <p>
            We offer an extensive product range for Puzzles.
        </p>
        <p></p>
    </div>
    <div class="col-sm-3">
        <h2>Boat Puzzle</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p></p>
    </div>
    <div class="col-sm-3">
        <h2>Tree Puzzle</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p></p>
    </div>
    <div class="col-sm-3">
        <h2>Land Puzzle</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p></p>
    </div>
    <div class="col-sm-3">
        <h2>Something Puzzle</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p></p>
    </div>
</div>