<!DOCTYPE html>
<html>

<head>
    
    <title>Ajax test page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>

        $(document)
            .ready(function() {
                $("#button")
                    .click(function() {
                        $.ajax({
                            url: "http://localhost:49770/api/Puzzles",
                              dataType: "json"
                            })

                            .success(function(data) {
                                try {

                                    $('#div1').append(JSON.stringify(data));

                                } catch (ex) {

                                    alert("Ajax call failed " + ex.message);
                                }
                                
                            });
                    });
            });
    </script>
</head>
<body>

<h3>See results below</h3>

<div id="div1"></div>

<button id="button">Click to get all Puzzles!</button>

</body>
</html>


