<!DOCTYPE html>

<head>

    <title>Ajax test page</title>

</head>

<button id="submitBtn"><strong>Load Puzzles!</strong></button>

<button id="clearPuzzleBtn">Clear</button>

<h3>See results below</h3>

<div id="divResults"></div>

<script src="~/Scripts/submitBtn.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/ajaxTesting.js"></script>

