@{
    ViewBag.Title = "Home Page";
}

<body>

    <div class="row">
        <div class="col-md-4">
            <h2>Info on puzzles</h2>
            <p>
                Puzzles
            </p>
        </div>
        <div class="col-md-4">
            <h2>More info on puzzles</h2>
            <p>Test Test</p>
        </div>
        <div class="col-md-4">
            <h2>Puzzles</h2>
            <p>Test Test</p>
        </div>
    </div>
</body>

